<div class="container">
  <div class="row d-flex align-items-center">
    <h1 class="col-lg-2">Lectoren</h1>
    <a routerLink="/add/instructor" class="add-student" *ngIf="authenticated">+ Voeg nieuwe lector toe</a>
  </div>
  <div class="row">

    <div class="col-lg-12">
      <div class="page-container">
        <table>
          <tr>
            <th>Lector ID</th>
            <th>Naam</th>
            <th *ngIf="authenticated">Acties</th>
          </tr>
          <tr *ngFor="let instructor of instructors">
            <td>{{instructor.attributes.id}}</td>
            <td><a [routerLink]="['/instructor' , instructor.attributes.uuid ]">{{instructor.attributes.name}}</a></td>
            <td *ngIf="authenticated">
              <fa-icon class="trash" [icon]="faTrash" (click)="deleteinstructor(instructor.attributes.uuid)"></fa-icon>
              <fa-icon [icon]="faPenSquare" [routerLink]="['/edit/instructor', instructor.attributes.uuid]"></fa-icon>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
