<div class="container">
  <div class="row">
    <h1 class="col-lg-12">Studenten</h1>
    <div class="col-lg-12">
      <div class="student-list__container">
        <table>
          <tr>
            <th>Studenten ID</th>
            <th>Naam</th>
            <th>Acties</th>
          </tr>
          <tr *ngFor="let student of students">
            <td>{{student.attributes.id}}</td>
            <td><a [routerLink]="['/student' , student.attributes.uuid ]">{{student.attributes.name}}</a></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
