table {
  width: 100%;

  th {
    text-align: left;
  }

  th,
  td {
    padding-left: 20px;

    a {
      color: #087E8B;
      font-weight: bold;
    }
  }

  tr {
    height: 50px;
  }

  tr:nth-child(even) {
    background-color: #F3F7F0;
  }
}
